<p id="notice"><%= notice %></p>

<p>
  <b>Flight:</b>
  <%= @booking.flight_id %>
</p>

<p>
  <b>Name:</b>
  <%= @booking.name %>
</p>

<p>
  <b>Personal number:</b>
  <%= @booking.personal_number %>
</p>

<p>
  <b>Mail:</b>
  <%= @booking.mail %>
</p>

<p>
  <b>Phone number:</b>
  <%= @booking.phone_number %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
