<%= form_for(@traveler) do |f| %>
  <% if @traveler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@traveler.errors.count, "error") %> prohibited this traveler from being saved:</h2>

      <ul>
      <% @traveler.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :personal_number %><br />
    <%= f.text_field :personal_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
