<h1>Listing travelers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Personal number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @travelers.each do |traveler| %>
  <tr>
    <td><%= traveler.name %></td>
    <td><%= traveler.personal_number %></td>
    <td><%= link_to 'Show', traveler %></td>
    <td><%= link_to 'Edit', edit_traveler_path(traveler) %></td>
    <td><%= link_to 'Destroy', traveler, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Traveler', new_traveler_path %>
