<h1>Listing airports</h1>

<table>
  <tr>
    <th>Iata</th>
    <th>Lattitude</th>
    <th>Longitude</th>
    <th>Country</th>
    <th>State</th>
    <th>City</th>
  </tr>

<% @airports.each do |airport| %>
  <tr>
    <td><%= airport.iata %></td>
    <td><%= airport.lat %></td>
    <td><%= airport.lng %></td>
    <td><%= airport.country %></td>
    <td><%= airport.state %></td>
    <td><%= airport.city %></td>
  </tr>
<% end %>
</table>

